/* style.css */

/* Styles globaux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

header {
    color: #fff;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

nav {
    background-color: #43c156;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    padding: 1rem;
    text-align: center;
    flex: 1;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #2fcdca;
}


footer {
    background-color: #43c156;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Styles pour l'animation du h1 */
h2 {
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
    font-size: 3rem;
    margin: 0.5rem;
    cursor: pointer;
    transition: top 0.6s cubic-bezier(.2,.8,.2,1), left 0.6s cubic-bezier(.2,.8,.2,1), transform 0.6s cubic-bezier(.2,.8,.2,1);
    -webkit-user-select: none;
    user-select: none;
}

.to-center {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    z-index: 9999;
}