@media screen and (max-width:800px) {
    html ,.titre3, .lorem {
        font-size : 0.8rem
    }

    body {
        height: 150vh;
    }


    header {
        height : 15%;
    }

    div:has(#fond01), div:has(#fond02) {
        flex : 0.75;
    }
