body {
    margin: 0;
    display: flex;
    height: 350vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

div {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    flex: 0.75;
    background-image: url("./images/sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

#cabane {
    height: 90%;
    width: 20%;
}

h1 {
    margin: 0;
    letter-spacing: 1rem;
    font-size: 3rem;
}

h2 {
    margin: 0;
    letter-spacing: 0.5rem;
    font-size: 2rem;
}

.titre3 {
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.lorem {
    text-align: justify;
    font-size: large;
}

main {
    display: flex;
    flex-direction: column;
    flex: 5;
    background-image: url("./images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

.texte {
    background-color: white;
}

footer {
    flex: 0.25;
    background-image: url("./images/pp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-content: center;
}

img {
    height: 100%;
    width: 100%;
}


#des1 {
    background-image: url("./images/01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

#des2 {
    background-image: url("./images/02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

#des3 {
    background-image: url("./images/03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

#des4 {
    background-image: url("./images/04.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

#des5 {
    background-image: url("./images/05.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

#des6 {
    background-image: url("./images/06.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

#des7 {
    background-image: url("./images/07.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

#des8 {
    background-image: url("./images/08.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

.desGlobal {
    flex: 0.3;
    gap: 1rem;
    justify-content: flex-end;
}

.des {
    height: 100%;
    flex: 3.5;
    font-size: 2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.clair {
    color: wheat;
}

.colonne {
    padding: 2rem;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: justify;
}

.aligne {
    display: flex;
    text-align: justify;
}

.flex2 {
    flex: 2
}

.flex1 {
    flex: 1
}

.flex05 {
    flex: 0.5
}

.flex025 {
    flex: 0.25;
}

.flexNone {
    flex: unset;
}