
div {
    display: flex;
    flex: 1;
}

.colonne {
    flex-direction: column;
}

.espace {
    flex: 0.1;
}

.espaceV {
    flex:none;
    height: 2vh;
}

.bleu {
    background-color: blue;
    height: 100vh;
    padding: 5vh;
}

.gris {
    background-color: grey;

}

.jaune {
    background-color: yellow;

}

.vert {
    background-color: green;
}

.orange {
    background-color: orange;
}

.bleuClair{
    background-color: lightblue;
}
#grisJaune{
    flex:3;
}