div {
    display: flex;
    flex: 1;
    border: 1px solid black;
    justify-content: center;
}

.grid {
    display: grid;
    row-gap: 1rem;
    column-gap: 2rem;
}

.grid2x3 {

    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 5fr 1fr;
}

.grid1x3 {

    grid-template-rows: 1fr 1fr 1fr;
}

.grid1x5 {

    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.spanColonne2 {
    grid-column: span 2;
}

.spanColonne4 {
    grid-column: span 4;
}

.spanRow3 {
    grid-row: span 3;
}

.bleu {
    background-color: blue;
    padding: 5vh;
}

.gris {
    background-color: grey;

}

.jaune {
    background-color: yellow;
}

.vert {
    background-color: green;
}

.orange {
    background-color: orange;
}