div{
    display: flex;
    flex: 1;
    border:1px solid black;
    justify-content: center;
    
}


.grid4x5{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    grid-template-rows:  1.5fr 1fr 1fr 1.5fr 1.5fr  ;
    /* on reparti l'espace en fraction proportionnelle */
    row-gap: 1rem;
    /* espace entre 2 lignes */
    column-gap:2rem;
    /* espace entre 2 colonnes */
}

.spanColonne2{
    grid-column: span 2;
}

.spanColonne4{
    grid-column: span 4;
}
.spanRow3{
    grid-row: span 3;
}
.bleu {
    background-color: blue;
    padding: 5vh;
}

.gris {
    background-color: grey;

}

.jaune {
    background-color: yellow;
}

.vert {
    background-color: green;
}

.orange {
    background-color: orange;
}